
Library
Logs
user.keystore
CVS
*/CVS
*/*/CVS
Packages
Vuforia
Assembly-CSharp.csproj
.vsconfig
.cvsignore
*.meta
.vs
AR-vos.apk
obj
Export
AR-vos_BackUpThisFolder_ButDontShipItWithYourGame
UserSettings/Layouts/default-2021.dwlt
UserSettings/Layouts/default-2021.dwlt
UserSettings/Layouts/default-2021.dwlt
